.main{
    display: flex;
}
.appchart{
    position: absolute;
    left: 5px;
    bottom: 200px;
}
.slider{
    position: absolute;
    right: 5px;
    bottom: 200px;
    width: 200px;
}
.time-series{
    position: absolute;
    left:0px;
    bottom: 0px;
    width: 100%;
}